@inherits LayoutComponentBase

<div class="page">
    <h1><img src="images/icon1.png" alt="Icon1"/>Chirp!</h1>
    <div class="navigation">

    </div>

    <main>
        <div class="body">
            @Body
        </div>
    </main>
    <div class=footer>
        Chirp &mdash; An ASP.NET Application
    </div>
</div>
